@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

body {
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
}

#music {
    padding: 2em;
}

.card:has(.tip.open) {
    z-index: 100;
}

#music>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    padding: 1em 0;
    margin-right: 5em;
}

.music-card {
    display: flex;
    align-items: flex-end;
    align-content: stretch;
    width: 17.5em;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center;
    outline: #ffffff solid 2px;
    margin-right: -5em;
    overflow: hidden;
    box-shadow: 0 0.5em 1em #00000080;
    cursor: pointer;
    transition: scale 300ms, rotate 300ms;
}

.music-card:hover,
.music-card:focus {
    scale: 1.05;
    rotate: 0deg !important;
    z-index: 10;
}

@media (min-width: 1450px) {
    .music-card {
        rotate: 0deg !important;
    }
}

.music-card.playing {
    z-index: 9;
}

.music-card>div {
    flex-grow: 4;
    padding: 1em;
    background: linear-gradient(#00000000, #000000dd);
    color: white;
    text-shadow: 0 0 20px #000000;
}

.music-card>div:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: 'Material Symbols Outlined';
    content: 'play_arrow';
    font-size: 3em;
    scale: 0;
    text-shadow: 0 0 20px #000000;
    transition: scale 300ms;
}

.music-card.playing>div:after {
    content: 'pause';
    scale: 1;
}

.music-card:hover>div:after {
    scale: 1.5;
}

.tip {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-family: 'Material Symbols Outlined';
    color: #ffffff;
    text-shadow: 0 0 20px #000000;
    font-size: 2em;
    cursor: help;
    transition: scale 300ms;
}

.tip:hover, .tip:hover {
    scale: 1.25;
}

#close {
    font-family: 'Material Symbols Outlined';
    color: #333333;
    font-size: 2em;
    cursor: pointer;
    transition: scale 300ms;
}

#close:hover, #close:focus {
    scale: 1.25;
}

#popup {
    display: flex;
    align-items: flex-end;
    position: absolute;
    height: 100vh;
    width: 100vw;
    bottom: -100%;
    transition: translate 300ms;
    box-sizing: border-box;
    z-index: -1;
    background: #000000aa;
}

#popup.open {
    translate: 0 -100%;
    z-index: 98;
}

#popup-content {
    background: #ffffff;
    width: 100%;
    z-index: 99;
    padding: 3em;
}

body:has(#popup.open)>main>* {
    pointer-events: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}