@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    transition: scale 300ms, rotate 300ms;
}

html,
body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

section {
    padding: 2em;
}

#music>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    padding: 1em 0;
    margin-right: 5em;
}

.card {
    display: flex;
    align-items: flex-end;
    align-content: stretch;
    background-size: cover;
    background-position: center;
    margin-right: -5em;
    padding: 1em;
    overflow: hidden;
    box-shadow: 0 0.5em 1em #00000080;
}

.music-card {
    width: 17.5em;
    box-sizing: border-box;
    aspect-ratio: 1;
    outline: #ffffff solid 2px;
    color: #ffffff;
    cursor: pointer;
}

.music-card:hover,
.music-card:focus {
    scale: 1.05;
    rotate: 0deg !important;
    z-index: 10;
}

@media (min-width: 1450px) {
    .music-card {
        rotate: 0deg !important;
    }
}

.music-card.playing {
    z-index: 9;
}

.music-card>div {
    width: 100%;
    margin: -1em;
    padding: 1em;
    background: linear-gradient(#00000000, #000000dd);
    text-shadow: 0 0 20px #000000;
}

.music-card>div:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: 'Material Symbols Outlined';
    content: 'play_arrow';
    font-size: 3em;
    scale: 0;
    text-shadow: 0 0 20px #000000;
}

.music-card.playing>div:after {
    content: 'pause';
    scale: 1;
}

.music-card:hover>div:after {
    scale: 1.5;
}

.tip {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-family: 'Material Symbols Outlined';
    text-shadow: 0 0 20px #000000;
    font-size: 2em;
    cursor: help;
}

.tip:hover,
.tip:hover {
    scale: 1.25;
}

.popup-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000080;
    z-index: 100;
    animation: popupContainerAppear 300ms;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    margin: 2em;
    padding: 2em;
    background: #ffffff;
    animation: popupAppear 300ms;
}

.popup-clone>* {
    margin: 0;
}

.popup-close {
    font-family: 'Material Symbols Outlined';
    color: #333333;
    font-size: 2em;
    cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
    scale: 1.25;
}

h1,
h2,
h3,
p {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

@keyframes popupContainerAppear {
    from {
        background: #00000000;
    }
    to {
        background: #00000080;
    }
}

@keyframes popupAppear {
    from {
        scale: 0;
    }

    to {
        scale: 1
    }
}