@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    transition: translate 300ms, scale 300ms, rotate 300ms, opacity 300ms, filter 300ms;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

html,
body {
    margin: 0;
    width: 100%;
    background: #000000;
    overflow: hidden;
}

main {
    height: 100vh;
    background: linear-gradient(to right bottom, #f0faf1, #b7cab7);
    overflow: overlay;
}

h1 {
    font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

section {
    width: 100%;
    padding: 1em 2em;
    margin-bottom: 1em;
}

.item,
#me2 div {
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.card {
    box-shadow: 0 0.5em 1em #00000080;
}

.info-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em;
    color: white;
    background: linear-gradient(#00000000, #000000dd);
    text-shadow: 0 0 20px #000000;
}

.tip-link {
    color: white;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-family: 'Material Symbols Outlined';
    text-shadow: 0 0 20px #000000;
    font-size: 2em;
    cursor: help;
    /* z-index: 2; */
}

.tip-link:hover,
.tip-link:focus {
    scale: 1.25;
}

.popup {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2em 3em;
    gap: 1em;
    display: grid;
    grid-template:
        'clone title close' min-content
        'clone body body' 1fr
        / auto 1fr min-content;
    color: #ffffff;
    background-color: #000000;
    z-index: 100;
    animation: popupAppear 300ms;
}

.popup.hide {
    translate: 0 100%;
}

.popup-title {
    grid-area: title;
}

.popup-close {
    grid-area: close;
    font-family: 'Material Symbols Outlined';
    font-size: 2em;
    cursor: pointer;
}

.popup-close:hover,
.popup-close:focus {
    scale: 1.25;
}

.popup-clone {
    grid-area: clone;
}

.popup-clone>* {
    margin: 0 !important;
    position: static !important;
    translate: 0 !important;
    pointer-events: none;
}

.popup-clone .grid-item {
    min-height: 30vh;
    max-width: 50vw;
    aspect-ratio: 16/9;
}

.popup-clone .opinion-hero {
    aspect-ratio: 1;
}

.popup-clone .tip-link {
    opacity: 0;
}

.popup-body {
    grid-area: body;
}

body:has(.popup:not(.hide)) main {
    translate: 0 -15vh;
    scale: 0.9;
    opacity: 0.5;
    filter: blur(2px) grayscale(0.5);
    pointer-events: none;
    overflow: hidden;
}

@keyframes popupAppear {
    from {
        translate: 0 100%;
    }

    to {
        translate: 0
    }
}

@media (max-width: 700px) {
    .popup {
        height: 100vh;
        grid-template:
            'title close' min-content
            'body body' auto
            'clone clone' min-content
            / auto min-content;
    }
}