.music-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1550px;
    margin-top: 1em;
}

.music-card {
    position: relative;
    width: 17.5em;
    height: 17.5em;
    margin-right: -32em;
    outline: #ffffff solid 2px;
    color: #ffffff;
    cursor: pointer;
}

.music-card:last-child {
    margin-right: 0;
}

.music-card:hover,
.music-card:focus {
    scale: 1.05;
    rotate: 0deg !important;
    z-index: 3;
}

.music-card:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: 'Material Symbols Outlined';
    content: 'play_arrow';
    font-size: 3em;
    scale: 0;
    text-shadow: 0 0 20px #000000;
    transition: scale 300ms;
}

.music-card.playing {
    z-index: 2;
}

.music-card.playing:after {
    content: 'pause';
    scale: 1;
}

.music-card:hover:after,
.music-card:focus:after {
    scale: 1.5;
}

@media (min-width: 1450px) {
    .music-card {
        rotate: 0deg !important;
    }
}

@media (max-width: 1150px) {
    .music-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 17.5em);
    }

    .music-card:last-child {
        margin-right: -32em;
    }

    .music-card:nth-child(3) {
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .music-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 17.5em;
        padding: 2em;
        margin: 0 -2em;
        overflow: auto;
        place-items: center;
    }

    .music-card {
        margin-right: -5em !important;
    }
}