.music-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    padding: 1em 0;
}

.music-card {
    width: 17.5em;
    height: 17.5em;
    aspect-ratio: 1;
    outline: #ffffff solid 2px;
    color: #ffffff;
    cursor: pointer;
}

.music-card:not(:last-child) {
    margin-right: -5em;
}

.music-card:hover,
.music-card:focus {
    scale: 1.05;
    rotate: 0deg !important;
    z-index: 10;
}

@media (min-width: 1450px) {
    .music-card {
        rotate: 0deg !important;
    }
}

.music-card:after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family: 'Material Symbols Outlined';
    content: 'play_arrow';
    font-size: 3em;
    scale: 0;
    text-shadow: 0 0 20px #000000;
    transition: scale 300ms;
}

.music-card.playing {
    z-index: 9;
}

.music-card.playing:after {
    content: 'pause';
    scale: 1;
}

.music-card:hover:after {
    scale: 1.5;
}