.opinion-grid {
    display: grid;
    grid-template:
        'hero yes1 yes2' 18em
        'hero no1 no2' 12em
        'home home home' auto
        / 40em 1fr 1fr;
    gap: 2px;
    margin: 1em -2em;
}

@media (max-width: 1150px) {
    .opinion-grid {
        grid-template:
            'hero hero' 20em
            'yes1 yes2' 1fr
            'no1 no2' 1fr
            'home home' auto
            / 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .opinion-grid {
        grid-template:
            'hero' 10em
            'yes1' 1fr
            'yes2' 1fr
            'no1' 1fr
            'no2' 1fr
            'home' auto
            / 1fr;
    }
}

.opinion-hero {
    grid-area: hero;
}

.opinion-home {
    grid-area: home;
    padding: 1em 2em 0;
}

.grid-item {
    position: relative;
}

.grid-item>.info-bar {
    opacity: 0;
    transition: opacity 300ms;
}

.grid-item:hover>.info-bar {
    opacity: 1;
}

.grid-item video {
    width: 100%;
    object-fit: cover;
}

.opinion-yes>.info-bar:after {
    content: '\A Dit vind ik kunst';
    font-weight: bold;
    color: #95e785;
    white-space: pre;
}

.opinion-no>.info-bar:after {
    content: '\A Dit vind ik geen kunst';
    font-weight: bold;
    color: #e78585;
    white-space: pre;
}