.timeline {
    list-style-type: none;
}

.timeline>li {
    position: relative;
    padding-bottom: 1.5em;
}

.timeline {
    border-left: #000000 2px solid;
    padding-left: 1em;
    margin-left: 1em;
}

.timeline>li:after {
    content: '';
    background-color: #000000;
    border-radius: 100%;
    border: #ffffff solid 2px;
    position: absolute;
    left: -25px;
    top: 25px;
    height: 12px;
    width: 12px;
}

.timeline>li>span {
    font-size: .75em;
    font-weight: bold;
}